<VirtualHost *:80>
	ServerName example.com

        ProxyRequests On
        ProxyPass / http://{{ groups.appservers }}:8080
        ProxyPassReverse / http://{{ groups.appservers }}:8080
</VirtualHost>
